#!/usr/bin/env bash

sudo su -
cd /root

if lsb_release -d >/dev/null 2>&1; then
  apt update -y
  apt install -y git ansible
else
  yum install -y epel-release
  yum install -y git ansible
fi

sudo chmod +x /root/cloud-init_handler.sh
git clone "{{ dynamic_repo }}"
cd {{ gitlab_project_name }}
set -e
ansible-playbook playbook-{{ instance_name }}.yml -e "@env/{{ instance_name }}.yml"
sed -i "s/gitlab_runner_token: changeit/gitlab_runner_token: "$(sudo cat /root/.gitlab-runner/config.toml | awk -F "[[:space:]]*=[[:space:]]*" '($0 ~ "token"){gsub("\"", "", $2); print $2}' | head -1)"/" env/{{ instance_name }}.yml
sudo gitlab-runner verify
sudo git pull origin main
{% if centralized == "none" %}
mv {{ instance_name }}-ci.yml ./.gitlab-ci.yml
{% elif centralized == "true" %}
cat {{ instance_name }}-ci.yml >> .gitlab-ci.yml
rm {{ instance_name }}-ci.yml
{% endif %}
sudo git config --global user.email "{{ git_email }}"
sudo git config --global user.name "{{ git_username }}"
sudo git add .
sudo git commit -m "Finish deployment of {{ instance_name }}"
sudo git push origin main
echo "Perform the PATCH request to instance {{ instance_id }}"
curl -v -H 'Content-Type: application/json' -d '{"status":"activate"}' -X PATCH {{API_URL}}/v1/control/instance/{{ instance_id }}
rm -rf ../{{ gitlab_project_name }}
