apiVersion: v2
name: cmwcloud_auto_deployment
description: this is a helm chart created by cmwcloud automatically
type: application
version: 0.1.0
appVersion: "0.1.0"
dependencies: {% for dep in dependencies %}
- name: {{ dep }}
  version: 0.1.0
  repository: file://../charts/{{ dep }}
{% endfor %}
{% if external_dependencies %}
{% for ext_dep in external_dependencies %}
- name: {{ ext_dep.name }}
  version: {{ ext_dep.version }}
  repository: {{ ext_dep.repository }}
{% endfor %}
{% endif %}