<html>
  <head>
     <style>
        body {
          position: relative;
          width: 21cm;
          height: 29.7cm;
          margin: 0 auto;
          color: #001028;
          background: #FFFFFF;
          font-family: Arial, sans-serif;
          font-size: 12px;
          font-family: Arial;
        }
           * {
        box-sizing: border-box;
        margin: 0;
        color: #303030;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a {
        color: #1068bf;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 1.5em;
        font-weight: 600;
        margin: 24px 0 16px;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaeaea;
        color: #303030;
    }

    table {
        margin-top: 20px;
        margin-bottom: 20px;
        border-spacing: 0;
        border-collapse: collapse;
    }

    tr th {
        border-bottom: solid 2px #bfbfbf;
        background-color: #f0f0f0;
        text-align: -webkit-match-parent;
        font-weight: bold;
    }

    tr,
    th {
        padding: 10px 16px;
        line-height: 20px;
        vertical-align: top;
    }

    td,
    tr {
        padding: 10px 16px;
        line-height: 20px;
        vertical-align: top;
    }

    td {
        border: 1px solid #dbdbdb;
    }

    th {
        border: 1px solid #dbdbdb;
        margin: 0;
    }
     </style>
     <meta charset="utf-8">
  </head>

  <body>
    <p><img src="{{ invoice_company_logo }}" alt="logo"></p>
    <div align="right">
    {{ invoice_company_city }}, le {{ invoice_date }}
    </div>

<h1 id="facture-dhebergement">Facture d&#39;hebergement N°{{ invoice_ref }}</h1>
<h2 >Du {{ from_date }} au {{ to_date }}</h2>

<table>
    <thead>
        <tr>
            <th>Emetteur</th>
            <th>{{ invoice_company_name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adresse</td>
            <td>{{ invoice_company_address }}</td>
        </tr>
        <tr>
            <td>{{ registration_number_label }}</td>
            <td>{{ invoice_company_registration_number }}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{ invoice_company_contact }}: <a href="mailto:{{ invoice_company_email }}">{{ invoice_company_email }}</a></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Client</th>
            <th>{{ company_name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ registration_number_label }}</td>
            <td>{{ registration_number }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>{{ address }}</td>
        </tr>
        <tr>
            <td>Contact</td>
               <td>{{ contact }}: <a href="{{ email }}">{{ email }}</a></td>
        </tr>
    </tbody>
</table>
<h2 id="objet">Objet</h2>
{% if consumptions is defined and consumptions %}
<table>
    <thead>
        <tr>
            <th>Designation</th>
            <th>Type</th>
            <th>Periode</th>
            <th>N heures</th>
            <th>PU/h HT</th>
            <th>Total HT</th>
        </tr>
    </thead>
    <tbody>
        {% for consumption in consumptions %}
        <tr>
        <td> {{ consumption['instance_name'] }} </td>
        <td> {{ consumption['instance_type'] }} </td>
        <td> {{ consumption['from_date']}} => {{consumption['to_date'] }}  </td>
        <td> {{ consumption['usage'] }} </td>
        <td> {{ consumption['instance_price'] }} </td>
        <td> {{ consumption['total_price'] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if subscriptions is defined and subscriptions %}
<table>
    <thead>
        <tr>
            <th>Designation</th>
            <th>Prix HT</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
        <tr>
        <td> {{ subscription['label'] }} </td>
        <td> {{ subscription['price'] }} {{ price_unit }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<table>
    <thead>
        <tr>
            <th>Totaux</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TVA</td>
            <td>{{ vat_message }}</td>
        </tr>
        <tr>
            <td>Total HT</td>
            <td> {{ total_ht }} {{ price_unit }}</td>
        </tr>
{% if timbre_fiscal_message is defined and timbre_fiscal_message %}
        <tr>
            <td>Timbre fiscal</td>
            <td>{{ timbre_fiscal_message }}</td>
        </tr>
{% endif %}
        <tr>
            <td>Total TTC</td>
            <td> {{ total_ttc }} {{ price_unit }}</td>
        </tr>
    </tbody>
</table>
    <p><img src="{{ invoice_company_signature }}" alt="signature"></p>
    </body>
  </html>