apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-gitcre
  namespace: flux-system
type: Opaque
data:
  username: {{ git_username }}
  password: {{ git_password }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: {{ name }}-gitops
  namespace: flux-system
spec:
  interval: 5m
  url: {{ git_url }}
  ref:
    branch: main
  secretRef:
    name: {{ name }}-gitcre
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: {{ name }}-release
  namespace: flux-system
spec:
  interval: 10m
  install:
    createNamespace: true
  targetNamespace: {{ namespace }}
  chart:
    spec:
      chart: ./
      version: 0.1.0
      sourceRef:
        kind: GitRepository
        name: {{ name }}-gitops
      interval: 5m
  values:
    - ./values.yaml