{% if apiVersion %}
apiVersion: {{ apiVersion }}
{% else %}
apiVersion: v1
{% endif %}
kind: Secret
metadata:
  name: {{ name }}
  namespace: {{ namespace}}
  {% if labels %}
  labels:
    {% for key, value in labels.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  {% if annotations %}
  annotations:
    {% for key, value in annotations.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
type: {{ type }}
data:
  {% for key, value in data.items() %}
  {{ key }}: {{ value }}
  {% endfor %}